<app-header></app-header>
<main>
    <div class="genero">
        <mat-card-title>Gêneros</mat-card-title>
    </div>
    <div class="img">
        <img mat-card-image src="../../assets/theater 1.png">
    </div>
    <form [formGroup]="form">
        <div class="Genero">
            <td>
                <mat-form-field class="inpult" appearance="fill">
                    <mat-label class="nome">Titulo do filme</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <button mat-raised-button class="botao" (click)="EditarCliente1()" *ngIf="verificarEditar">Editar</button>
            <button mat-raised-button class="botao" (click)="salvarDadosGenero()"
                *ngIf="!verificarEditar">Cadastrar</button>
        </div>
    </form>
    <div class="cadastro">
        <div class="nomes" *ngFor="let item of genero; index as i;">
            <p>Terror</p>
            <button mat-button class="editar" (click)="EditarCliente2(item)">Editar</button>
            <button mat-button class="excluir" (click)="deleteDadosGenero(item.id)">Excluir</button>
        </div>
    </div>
</main>
<app-footer></app-footer>