.genero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
    width: 1200px;
}

.largura {
    height: 58px;
    width: 400px;
}


.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.nomes {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-top: 30px;
    align-items: center;
}

.editar {
    width: 125px;
    height: 35px;
    border-radius: 20px;
    font-family: 'Quicksand';
    font-weight: 700;
    border: 2px solid #F6511D;
    font-size: 18px;
    line-height: 22px;
    border-color: #F6511D;
    color: #fff;
    box-shadow: 0 0 40px 40px #F6511D inset, 0 0 0 0 #F6511D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: white;
    border-radius: 4px;
    flex: none;
    border-radius: 20px;
}

.excluir {
    width: 125px;
    height: 35px;
    border: 2px solid #41B8D2;
    border-radius: 20px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    box-shadow: 0 0 40px 40px  #41B8D2 inset, 0 0 0 0 #41B8D2;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: white;
    border-radius: 4px;
    flex: none;
    border-radius: 20px;

}


.editar:hover{box-shadow: 0 0 10px 0 #F6511D inset, 0 0 10px 4px #F6511D; color: #000000;  }

.excluir:hover{ box-shadow: 0 0 10px 0 #41B8D2 inset, 0 0 10px 4px #41B8D2; color: #000000;}

.cadastrar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.nomes p {width: 300px;}