@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    height: 200px;
    max-width: 100%;
    background: #9BD2DE;
}

.ajuste {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 1200px;
    background: #9BD2DE;
    margin: auto;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 50px;
}

.subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-top: 30px;
    height: 29px;
    width: 597px;


}


a {
    cursor: crosshair;
    color: #000000;
    text-decoration: none;
}