<header>

    <div class="ajuste">
        
        <div class="sub">
            <div class="logo">
             <a> <img mat-card-image routerLink="/home" src="../../assets/Group 2.png"></a>
            </div>
            <p class="subtitulo">{{texto}}</p>
        </div>

        <div class="menu">
            <a routerLink="/home">Home</a>
            <a routerLink="/usuario">Usuarios</a>
            <a routerLink="/filmes">Filmes</a>
            <a routerLink="/genero">Gênero</a>
        </div>
    </div>

</header>