.cor {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background: #F6511D;
    margin-top: 60px;
    width: 100%;
}

.txt_footer {
    color: white;
}

.linha {
    border: 1px solid #FFFFFF;
    height: 199px;
}