.filme {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.inpults {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
}

.largura {
    width: 400px;
}

.cadastro {

    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.botao {
    width: 180px;
    height: 45px;
    border-color: #F6511D;
    color: #fff;
    box-shadow: 0 0 40px 40px #F6511D inset, 0 0 0 0 #F6511D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: white;
    border-radius: 4px;
    flex: none;
}

main {
    max-width: 1200px;
    margin: auto;
}

.inpult {
    height: 58px;
    width: 400px;

}

.cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.nomes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.nomes p {
    width: 300px;
}


.editar {
    width: 125px;
    height: 35px;
    border-radius: 20px;
    font-family: 'Quicksand';
    font-weight: 700;
    border: 2px solid #F6511D;
    font-size: 18px;
    line-height: 22px;
    border-color: #F6511D;
    color: #fff;
    box-shadow: 0 0 40px 40px #F6511D inset, 0 0 0 0 #F6511D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: white;
    border-radius: 4px;
    flex: none;
    border-radius: 20px;
}

.excluir {
    width: 125px;
    height: 35px;
    border: 2px solid #41B8D2;
    border-radius: 20px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    box-shadow: 0 0 40px 40px  #41B8D2 inset, 0 0 0 0 #41B8D2;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: white;
    border-radius: 4px;
    flex: none;
    border-radius: 20px;

}


.editar:hover{box-shadow: 0 0 10px 0 #F6511D inset, 0 0 10px 4px #F6511D; color: #000000;  }

.excluir:hover{ box-shadow: 0 0 10px 0 #41B8D2 inset, 0 0 10px 4px #41B8D2; color: #000000;}
.botao:hover{box-shadow: 0 0 10px 0 #F6511D inset, 0 0 10px 4px #F6511D; color: #000000;}