<app-header></app-header>

<main>

    
    <div class="filme">
        
    <mat-card-title>Filmes</mat-card-title>

</div>

<div class="img">

    <img mat-card-image src="../../assets/cinema 1.png">
</div>

<mat-card-subtitle class="cadastro">Cadastrar Filmes</mat-card-subtitle>


<div class="inpults">

    <div class="titulo">
        <table class="input" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="inpult" appearance="fill">
                        <mat-label class="nome">Titulo do filme</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </table>
        </div>

    <div class="genero">
        <mat-form-field appearance="fill" class="largura">
            <mat-label >Genero</mat-label >
            <mat-select disableRipple  >
                <mat-option value="1">Ação</mat-option>
                <mat-option value="2">Aventura</mat-option>
                <mat-option value="3">Cinema de Arte</mat-option>
                <mat-option value="4">Chanchada</mat-option>
                <mat-option value="5">Comédia</mat-option>
                <mat-option value="6">Comédia de ação</mat-option>
                <mat-option value="7">Comédia de terror</mat-option>
                <mat-option value="8">Comédia dramática</mat-option>
                <mat-option value="9">Comédia romântica</mat-option>
                <mat-option value="10">Dança</mat-option>
                <mat-option value="11">Documentário</mat-option>
                <mat-option value="12">Docuficção</mat-option>
                <mat-option value="13">Drama</mat-option>
                <mat-option value="14">Espionagem</mat-option>
                <mat-option value="15">Faroeste</mat-option>
                <mat-option value="16">Fantasia</mat-option>
                <mat-option value="17">Fantasia científica</mat-option>
                <mat-option value="18">Ficção científica</mat-option>
                <mat-option value="19">Filmes com truques</mat-option>
                <mat-option value="20">Filmes de guerra</mat-option>
                <mat-option value="21">Mistério</mat-option>
                <mat-option value="22">Musical</mat-option>
                <mat-option value="23">Filme policial</mat-option>
                <mat-option value="24">Romance</mat-option>
                <mat-option value="25">Terror</mat-option>
                <mat-option value="26">Thriller</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    
    <button mat-raised-button class="botao">Salvar</button>
</div>


<div class="Cadastrar">

    <div class="nomes">
        <p>Os outros</p>
        <p>Terror</p>
        <button mat-button class="editar">Editar</button>
        <button mat-button class="excluir">Excluir</button>
    </div>

    <div class="nomes">
        <p>até o ultimo homem</p>
        <p>Ação</p>
        <button mat-button class="editar">Editar</button>
        <button mat-button class="excluir">Excluir</button>
    </div>

    <div class="nomes">
        <p>O máscara</p>
        <p>Comedia</p>
        <button mat-button class="editar">Editar</button>
        <button mat-button class="excluir">Excluir</button>
    </div>
</div>
</main>























































































<app-footer></app-footer>