<app-header></app-header>

<main>

    <mat-card-title class="cadastro">Cadastro</mat-card-title>

    <div class="inpults">

        <table class="input" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="inpult" appearance="fill">
                        <mat-label class="nome">Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>

        <table class="input" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="inpult" appearance="fill">
                        <mat-label class="email">Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>

        <table class="input" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="inpult" appearance="fill" >
                        <mat-label class="telefone">Telefone
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>


    </div>

    <button mat-raised-button class="botao">Cadastrar</button>

    <div class="cadastro">

        <div class="nomes">
            <p>Paulo André</p>
            <p>paulo@gmail.com</p>
            <p>3349 6788</p>
            <button mat-button class="editar">Editar</button>
            <button mat-button class="excluir">Excluir</button>
        </div>

        <div class="nomes">
            <p>Marcos Lucio</p>
            <p>marcos@gmail.com</p>
            <p>3349 6788</p>
            <button mat-button class="editar">Editar</button>
            <button mat-button class="excluir">Excluir</button>
        </div>

        <div class="nomes">
            <p>Laura Port</p>
            <p>laura@gmail.com</p>
            <p>3349 6788</p>
            <button mat-button class="editar">Editar</button>
            <button mat-button class="excluir">Excluir</button>
        </div>



    </div>
</main>
<app-footer></app-footer>