<app-header></app-header>

<div class="main">

    <mat-card-title class="titulo">Monte sua Coletânea de Filmes...</mat-card-title>

    <div class="txt_e_sub">

        <mat-card-subtitle class="subtitulo">Lorem ipsum dolor sit amet co
            nse ctetur adipisicing elit, sed do eiusmodtempor
        </mat-card-subtitle>


        <div>
            <p>
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod
                tempor incididunt ut labore aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident,
                sunt in culpa qui officia deserunt mollit.
            </p>
        </div>

    </div>

    <div class="img_txt">


        <div class="img_cinema">

            <img mat-card-image src="../../assets/cinema 1.png">
            <p class="subtitulo">Filmes</p>

            <p class="txt">
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod
                tempor incididunt ut labore aliquip ex ea commodo consequat.
            </p>
        </div>

        <div class="img_teatro">

            <img mat-card-image src="../../assets/theater 1.png">
            <p class="subtitulo">Categoria</p>

            <p class="txt">
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod
                tempor incididunt ut labore aliquip ex ea commodo consequat.
            </p>
        </div>


    </div>

</div>












<app-footer></app-footer>